{DESCRIPTION}
<!-- BEGIN NEWS -->
<p class="texte"><strong>{NEWS_TITRE}</strong> ({NEWS_DATE})<br>
{NEWS_TEXTE}
<!-- END NEWS -->
<hr align="center" width="50%">
<!-- BEGIN NEWS_PRECEDENT_LIEN -->
<a href="{NEWS_LIEN_PRECEDENT}"><font face=$font_face size=$font_size color=$couleur_texte>{NEWS_PRECEDENT_TEXT}</font></a>
<!-- END NEWS_PRECEDENT_LIEN -->
<!-- BEGIN NEWS_PRECEDENT -->
<font face=$font_face size=$font_size color=$couleur_texte>{NEWS_PRECEDENT}</font>
<!-- END NEWS_PRECEDENT -->&nbsp;&nbsp;&nbsp; 
<!-- BEGIN NEWS_SUIVANT_LIEN -->
<a href="{NEWS_LIEN_SUIVANT}"><font face=$font_face size=$font_size color=$couleur_texte>{NEWS_SUIVANT_TEXT}</font></a>
<!-- END NEWS_SUIVANT_LIEN -->
<!-- BEGIN NEWS_SUIVANT -->
<font face=$font_face size=$font_size color=$couleur_texte>{NEWS_SUIVANT}</font>
<!-- END NEWS_SUIVANT -->
</div>