<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
   <head>
       <title>{TITRE}</title>
       <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	   <link rel="stylesheet" media="screen" type="text/css" title="hautefeuille" href="{HOST_TEMP}hautefeuille.css" /> 
		<script type="text/javascript"><!--//--><![CDATA[//><!--
function titre(){
				self.status = '{TITRE}';
				return true;
			}
       setTimeout('titre()','10');
sfHover = function() {
	var sfEls = document.getElementById("nav").getElementsByTagName("LI");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" sfhover";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);

//--><!]]></script><!-- Menu deroulant -->
{javascript}
   </head>

   <body>

       <!-- L'en-tête -->

       <div id="en_tete">
	   
	   <div id="titre_page">
	   
	   Bienvenue sur le site Hautefeuille.org
       </div></div>   
        <div id="container">
		
<ul id="nav">
<!-- BEGIN MENU -->
    <li><a href="{MENU_LIEN}" class="menu_top" title="{MENU_DESCRIPTION}"
            OnMouseOver="window.status='{MENU_DESCRIPTION}';return true;" OnMouseOut="titre()" target="{MENU_TARGET}">{MENU_TITRE}</a>
	    
			<ul>{SOUS_MENU}</ul>
	    
    </li>
<!-- END MENU -->       
<!-- BEGIN SUB_MENU -->
	        <li><a href="{SUBMENU_LIEN}" title="{SUBMENU_DESCRIPTION}"
					OnMouseOver="window.status='{SUBMENU_DESCRIPTION}';return true;" OnMouseOut="titre()" target="{SUBMENU_TARGET}">{SUBMENU_TITRE}</a>
						<ul>{SUBMENU_SOUS}</ul>
			</li>
<!-- END SUB_MENU -->     
</ul>
	</div>



       <!-- Les menus -->

       <div id="menu">	

			<div class="element_menu">
		         <h3>Menu</h3>         
               <ul>
			<!-- BEGIN MENU2 -->			
				<li><a href="{MENU_LIEN}" class="menu" title="{MENU_DESCRIPTION}"
					OnMouseOver="window.status='{MENU_DESCRIPTION}';return true;" OnMouseOut="titre()" target="{MENU_TARGET}">
				{MENU_TITRE}</a>		</li>
			<!-- END MENU2 -->                
				</ul>
           </div>        
       </div>
	   

       <!-- Le corps -->

       <div id="corps">
	   
	   
           <h1>{TITRE_PAGE}</h1>
       
           <p>{CONTENU}
               
           </p>
       </div>

       <!-- Le pied de page -->

       <div id="pied_de_page">
           <p>Site hautefeuille.org © 2005<br>
        <a href="mailto:webmasteur@hautefeuille.org">nous écrire</a></p>
       </div>

   </body>
</html>