@CHARSET "UTF-8";

a.external {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/icons/external.png) no-repeat scroll right center;
    padding:0 13px 0 0;
}