body
{
   width: 100%;
   margin: auto; /* Pour centrer notre page */
   margin-top: 0px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. Essayez d'enlever pour voir ! */
   margin-bottom: 20px;    /* Idem pour le bas du navigateur */
}

#en_tete
{
	height: 90px;
    margin: auto;
   margin-bottom: 0px;
   padding: 20px;
   color: #FFFFFF;
   background-color: #99cc00;
   background-image: url("images/BlasonHautefeuillePetit.png");
   background-repeat: no-repeat;
}

#titre_page
{
	color: #FFFFFF;
	font: Tahoma, Verdana, Arial, Helvetica, sans-serif	size: 3em;
	font-size: 30px;
	text-align: right;
	background-image: url("images/fondhautefeuille.png");
	background-repeat: no-repeat;
	background-position: right; 
	height: 100px;
	width: 60%;
	position: absolute;
	right: 0%;
	top: 0px;
	

}
/* Le menu */

#menu
{
   float: left;
   width: 148px;
   position: absolute;
   left: 0px;
   top: 150px;
}




.element_menu
{
   background-color: #99cc00;
   border: 0px;   
   margin-bottom: 0px;
}

/* Quelques effets sur les menus */


.element_menu h3 /* Tous les titres de menus */
{   
   background-image: url("images/puce.gif"); /* On change l'apparence des puces */
   background-repeat: no-repeat;
   padding-left: 20px;
   font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
   text-align: center;
}

.element_menu ul /* Toutes les listes à puces se trouvant dans un menu */
{
   list-style-image: url("images/puce2.gif"); /* On change l'apparence des puces */
   padding: 0px; /* Tous les côtés ont une marge intérieure de 0 pixels */
   padding-left: 20px; /* ... mais on modifie ensuite la marge de gauche, donc celle-là fera finalement 20 pixels */
   margin: 0px; /* Idem pour margin, ça nous évite d'avoir à en écrire 4 (margin-left, margin-right...) */
   margin-bottom: 5px; /* Même chose que tout à l'heure, on modifie ensuite juste margin-bottom, mais tous les autres sont à 0px */
   list-style-position: outside; /* position outside */
}

.element_menu a /* Tous les liens se trouvant dans un menu */
{
   color: #000000;
}

.element_menu a:hover /* Quand on pointe sur un lien du menu */
{
   background-color: #FFFFFF;
   color: black;
   padding-left: 20px;
}

/* Le corps de la page */

#corps
{
   margin-top: 20px;
   margin-left: 170px;
   margin-bottom: 20px;
   padding: 5px;
   color: #000000;
   border: 0px;
}

#corps h1
{
   color: #000000;
   text-align: center;
   font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
}

#corps h2
{
   height: 40px;

   background-image: url("images/barre.gif");
   background-repeat: repeat-x;
   font-family: Tahoma, Verdana, "Times New Roman", Times, serif;
   padding-left: -7 px;
   font-size: 1.2 em;
   color: #000000;
   text-align: left;
}

#corps h2:first-letter /* Je veux que la première lettre de mes paragraphes... */
{
   float: left, bottom; /* Flotte à gauche */
   font-size: 1.6em; /* Fasse une hauteur de 3 lignes */
   font-family: Arial, Georgia, "Times New Roman", Times, serif; /* Soit mise en Arial si possible*/
   color: #ff9900;
   font-weight: bold; /* Soit écrite en gras (c'est plus voyant) */
   margin-right: 1px; /* Qu'il y ait une marge de 5px à droite pour que ça colle pas trop au reste du texte */
}
/*   
#corps p:first-letter /* Je veux que la première lettre de mes paragraphes... */
{
   float: left; /* Flotte à gauche */
   font-size: 3em; /* Fasse une hauteur de 3 lignes */
   font-family: Arial, Georgia, "Times New Roman", Times, serif; /* Soit mise en Arial si possible*/
   font-weight: bold; /* Soit écrite en gras (c'est plus voyant) */
   margin-right: 5px; /* Qu'il y ait une marge de 5px à droite pour que ça colle pas trop au reste du texte */
}
 */  
.text1
{
   float: left;
   width: 40%;
   text-align: justify;
   margin: 5px;
   margin-top: 10px;
   padding: 5px;
}

.text2
{
   float: right;
   width: 48%;
   text-align: justify;
   
}


/* Le pied de page (qui se trouve tout en bas, en général pour les copyrights) */

#pied_de_page
{
   padding: 5px;
   text-align: center;
   
   color: #000000;
   background-color: #99cc00;
   width: 100%;
   left: 0;
   clear: both;
   border: 0px;
}




#container {
   margin: 0px;
   color: white;
   padding: 0px;
   padding-left: 100px;
   width: 100%;
   height: 25px;
   background-color: #000000;
   background-image: url("images/barre_bas.png");
   background-repeat: no-repeat;
   background-position: 0px 0px; 
   border: 0px;
   position: absolute;
   left: 0px;
   top: 120px;
   left: 0;
   z-index:100;
}

#nav, #nav ul {
	float: left;
	width: 100%;
	list-style: none;
	padding:0;
	padding-right: 40;
	margin:0;
	background-color: #000000;
	
}

#nav a {
	/*display: block;*/
	color: white;
	text-decoration: none;
	padding: 0 2px 0 2px;
	background-color: #000000;
}

#nav a.menu_top{
    /*display: block;*/
	color: white;
	text-decoration: none;
	padding: 0 20px 0 5px;
	background-color: #000000;
	width: 100%;

}

#nav a.parent {
	width:190px !important;
	width:196px;
	background-color: #000000;
	background: url("images/flechemenu.gif") center right no-repeat;
}

#nav a.question {
	padding:0 10px;
	color: white;
	background-color: #000000;
	font-size: 20px;
}

#nav li {
	float: left;
	padding: 0;
	background-color: #000000;
}

#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 200px;
	border: 2px solid #000000;
	margin: 0;
	background-color: #000000;
}

#nav li li {
	padding-right: 1em;
	width: 190px !important;
	width: 100%;
	border-bottom:1px dashed #FFFFFF;
	background-color: #000000;
}

#nav li ul a {
	white-space: normal !important;	
	width: 190px;
	background-color: #000000;
}

#nav li ul ul {
	margin: -1em 0 0 9em;
	background-color: #000000;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
	color: black;
	background-color: #FFFFFF;
}

#nav a:hover {
	color: black;
	background-color: #FFFFFF;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
	color: black;
	background-color: #FFFFFF;
}

#nav li:hover, #nav li.sfhover {
	background-color: #FFFFFF;
	color: black;
}

/* Album Photo */

#photo_image {
  /*display: none;*/			 
}

#photo_chargement {
  position: absolute;
  left: 150px;
  top: 150px;
  color: #FFFFFF;
  background-color: #99cc00;
  z-index: 200;
  font-size: 20px; 
}

.photo_conteneur {
   margin: 5px;
   padding: 5px;
   background-color: #FFFFFF;
   border: 1px;		 
}

.photo_miniature {
   float: left;
   margin: 10px;	
   height: 250px;
   width: 200px;			 
}

.photo_navigation {
   clear: both;	
   text-align: center;
   margin-top: 20px;			  
}

img {
	border: 0px;	
}
