<div align="left"><blockquote>{PRESENTATION}<hr color="#CCFFCC" width="500" align="center" />
<!-- BEGIN NEWS -->
<b>{NEWS_TITRE}</b>&nbsp;&nbsp;({NEWS_DATE})<br />
<blockquote>{NEWS_TEXTE}</blockquote>
<!-- END NEWS -->
<hr color="#CCFFCC" align="center" width="500"/>
<!-- BEGIN NEWS_PRECEDENT_LIEN -->
<a href="{NEWS_LIEN_PRECEDENT}"><font face=$font_face size=$font_size color=$couleur_texte>{NEWS_PRECEDENT_TEXT}</font></a>
<!-- END NEWS_PRECEDENT_LIEN -->
<!-- BEGIN NEWS_PRECEDENT -->
<font face=$font_face size=$font_size color=$couleur_texte>{NEWS_PRECEDENT}</font>
<!-- END NEWS_PRECEDENT -->&nbsp;&nbsp;&nbsp;
<!-- BEGIN NEWS_SUIVANT_LIEN -->
<a href="{NEWS_LIEN_SUIVANT}"><font face=$font_face size=$font_size color=$couleur_texte>{NEWS_SUIVANT_TEXT}</font></a>
<!-- END NEWS_SUIVANT_LIEN -->
<!-- BEGIN NEWS_SUIVANT -->
<font face=$font_face size=$font_size color=$couleur_texte>{NEWS_SUIVANT}</font>
<!-- END NEWS_SUIVANT -->
</blockquote></div>
