<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>WebCatho.fr</title>






<link rel="stylesheet" type="text/css" href="WebCatho.fr_fichiers/jesusway.css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Content-Language" content="fr">

<meta name="Robots" content="follow,index">
<meta name="Author" content="Simon LEPRINCE, Patrice et Emmanuel DE SAINT STEBAN">
<meta name="Date-Creation-yyyymmdd" content="20060101">
<meta name="Date-Revision-yyyymmdd" content="20060629">
<meta name="revisit-after" content="7 days">
<meta name="keywords" content="webcatho, diocese, paroisse, aumonerie, jesusfreak, e-glise, redirections gratuites, site, catholique, catholiques, chrétien, chrétiens">
<meta name="description" content="WebCatho.fr, redirections gratuites de sites catholiques"></head><body>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr>
	<td class="bg"><img src="WebCatho.fr_fichiers/px1.gif" alt="" border="0" height="1" width="1"></td>
	<td class="bgleft"><img src="WebCatho.fr_fichiers/bg_left.gif" alt="" border="0" height="16" width="17"></td>
	<td>

<table class="fontop" border="0" cellpadding="0" cellspacing="0" width="780">
<tbody><tr>
	<td>
<table border="0" cellpadding="0" cellspacing="0" width="780">
<tbody><tr>
	<td align="center" width="150"><img src="WebCatho.fr_fichiers/croix.gif" alt="Logo WebCatho.fr" border="0"></td><td class="title">WebCatho.fr</td>

	<td align="right">

<form action="/auth.php" method="post">
<table border="0" cellpadding="0" cellspacing="0" width="200">
<tbody><tr>
	<td><p style="color: rgb(255, 255, 255); margin-left: 0px; padding-bottom: 5px;"><img src="WebCatho.fr_fichiers/e02.gif" alt="" border="0" height="9" width="16">&nbsp;&nbsp;<b>Espace membre</b></p></td>
</tr>
<tr>
	<td><input name="username" value=" pseudo" size="15" onfocus="javascript:if(this.value==' pseudo') {this.value='';}" type="text"></td>
</tr>
<tr>
	<td><input name="userpass" value=" mot de passe" size="10" onfocus="javascript:this.value='';" type="password"><input src="WebCatho.fr_fichiers/b_go_top.gif" alt="Connexion" class="absmiddle" style="margin-left: 10px;" type="image"></td>
</tr>
</tbody></table>
<input name="redir" value="/membre.php" type="hidden">
</form>






</td></tr>
</tbody></table>
	</td>
</tr>
</tbody></table>

<table class="fontop01" border="0" cellpadding="0" cellspacing="0" width="780">
<tbody><tr>
	<td>
<table border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td><p class="menu01"><a href="http://www.webcatho.fr/"><img src="WebCatho.fr_fichiers/b_go.gif" alt="" class="absmiddle" border="0" height="25" width="19">&nbsp;&nbsp;ACCUEIL</a></p></td><td><p class="menu01"><a href="http://www.webcatho.fr/presentation.php"><img src="WebCatho.fr_fichiers/b_go.gif" alt="" class="absmiddle" border="0" height="25" width="19">&nbsp;&nbsp;PRESENTATION</a></p></td><td><p class="menu01"><a href="http://www.webcatho.fr/membre.php"><img src="WebCatho.fr_fichiers/b_go.gif" alt="" class="absmiddle" border="0" height="25" width="19">&nbsp;&nbsp;ESPACE MEMBRE</a></p></td><td><p class="menu01"><a href="http://www.webcatho.fr/contact.php"><img src="WebCatho.fr_fichiers/b_go.gif" alt="" class="absmiddle" border="0" height="25" width="19">&nbsp;&nbsp;CONTACTS</a></p></td>
</tr>
</tbody></table>
	</td>
</tr>
</tbody></table>




<table border="0" cellpadding="0" cellspacing="0" width="780"><tbody><tr>
<td valign="top" width="43"><img src="WebCatho.fr_fichiers/e04.gif" alt="" height="211" width="43"><br></td>
<td class="actu" width="401"><object type="application/x-shockwave-flash" data="WebCatho.fr_fichiers/webcatho.swf" height="211" width="401">
<param name="movie" value="webcatho.swf">
<param name="wmode" value="transparent">
<p>Image ou texte alternatif</p>
</object></td>

<td valign="top" width="43"><img src="WebCatho.fr_fichiers/e05.gif" alt="" height="211" width="43"><br></td>
<td class="actu" width="250">

<p style="font-size: 12px;"><img src="WebCatho.fr_fichiers/e03.gif" alt="" border="0" height="9" width="16">&nbsp;&nbsp;<b>Actualités</b></p>

<p class="left"><img src="WebCatho.fr_fichiers/dot_g.gif" alt="" class="absmiddle" border="0" height="5" width="5">&nbsp;&nbsp;WebCatho.fr propose des redirections gratuites de sites catholiques en aumonerie.fr, 
  diocese.fr, paroisse.fr, e-glise.fr, webcatho.fr, jesusway.fr...</p>
<p class="left"><a href="#"></a></p>

</td>
<td><img src="WebCatho.fr_fichiers/e01.gif" alt="" border="0" height="211" width="43"></td>
</tr></tbody></table>



<table border="0" cellpadding="0" cellspacing="0" width="780">
<tbody><tr bgcolor="#afc0d0" valign="top">
	<td width="487">
<br>
<p class="t01" style="font-size: 12px;"><img src="WebCatho.fr_fichiers/e02.gif" alt="" border="0" height="9" width="16">&nbsp;&nbsp;<b>Créer une redirection</b></p>
<p class="t01">Choisissez votre sous-domaine&nbsp;:&nbsp;</p><p class="t01"></p><form action="/enregistrement.php" method="post"><table align="right" border="0" width="90%">
	<tbody><tr><td class="t01">&nbsp;</td><td><input name="sousdomaine" size="15" type="text">.<select name="domaine"><option value="1">aumonerie.fr</option><option value="2">diocese.fr</option><option value="3">e-glise.fr</option><option value="5">jesusway.fr</option><option value="6">paroisse.fr</option><option value="7">webcatho.fr</option></select><input src="WebCatho.fr_fichiers/b_go.gif" alt="Connexion" class="absmiddle" style="margin-left: 10px;" type="image"></td></tr></tbody></table></form><p>&nbsp;</p>


<br>
	</td>
	<td class="dotsw" width="2"><img src="WebCatho.fr_fichiers/px1.gif" alt="" border="0" height="1" width="1"></td>
	<td width="291">
<br>
<p style="font-size: 12px;"><img src="WebCatho.fr_fichiers/e02.gif" alt="" border="0" height="9" width="16">&nbsp;&nbsp;<b>Présentation</b></p>

<p class="right"><img src="WebCatho.fr_fichiers/dot_g.gif" alt="" class="absmiddle" border="0" height="5" width="5">&nbsp;&nbsp;Des redirections web gratuites sans publicité !</p>
<p class="right"><a href="http://www.webcatho.fr/presentation.php">En savoir plus &gt;&gt;</a></p>

	</td>
</tr>
</tbody></table>



<table border="0" cellpadding="0" cellspacing="0" width="780">
<tbody><tr>
	<td colspan="2"><img src="WebCatho.fr_fichiers/px1.gif" alt="" border="0" height="1" width="1"></td>
</tr>
<tr bgcolor="#28549e">
	<td colspan="2" height="19"><img src="WebCatho.fr_fichiers/px1.gif" alt="" border="0" height="1" width="1"></td>
</tr>
<tr>
	<td height="70"><p>Copyright © 2006 <a href="http://www.jesusway.fr/">JesusWay.fr</a> / 
<a href="http://www.logisim.fr/" target="_blank">Simon LEPRINCE</a> / 
<a href="http://www.lesgrumels.fr/" target="_blank">lesgrumels</a></p></td>
	<td>
<p class="menu02">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.webcatho.fr/">Accueil</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.webcatho.fr/login.php">Espace membre</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.webcatho.fr/contact.php">Contacts</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.webcatho.fr/apropos.php">Mentions légales</a>
</p>
	</td>
</tr>
</tbody></table>

	</td>
	<td class="bgright"><img src="WebCatho.fr_fichiers/bg_right.gif" alt="" border="0" height="16" width="17"></td>
	<td class="bg"><img src="WebCatho.fr_fichiers/px1.gif" alt="" border="0" height="1" width="1"></td>
</tr>
</tbody></table>
<script type="text/javascript"><!--
var a_vars = Array();
var pagename='';
var phpmyvisitesSite = 4;
var phpmyvisitesURL = "http:///phpmyvisites.php";
//-->
</script>
<script language="javascript" src="WebCatho.fr_fichiers/a" type="text/javascript"></script>
<noscript>
<p><img src="http:///phpmyvisites.php" alt="" style="border:0" /></p>
</noscript>
</body></html>