<div align="center">{TITRE_ARTICLE}</div>
<div align="left">
{CHEMIN_ARTICLE}
</div>
<!-- BEGIN IS_RUBRIQUE -->
<div align="center">
<!-- BEGIN LIST_ARTICLE -->
<a href="{NOM_PAGE}?nom={ID_ARTICLE}"><img src="{HOST_TEMP}images/repertoire.gif" border=0>{NOM_ARTICLE}</a>&nbsp;&nbsp;
<!-- END LIST_ARTICLE -->
</div>
<!-- END IS_RUBRIQUE -->
<!-- BEGIN NO_ARTICLE -->
<hr color="#CCFFCC" align="center" width="500"/>
<font color="red" align="center"><i><b>{ARTICLE_NOARTICLE}</b></i></font><br />
<!-- BEGIN NO_ARTICLE -->
{CONTENU_ARTICLE}