<?php
	$jimw_config_db['dbname'] = 'jimw_global';
	$jimw_config_db['host'] = 'localhost';
	$jimw_config_db['type'] = 'PDO_MYSQL';
	$jimw_config_db['username'] = 'root';
	$jimw_config_db['password'] = '';
	define('JIMW_DEBUG_MODE', false);
	define('JIMW_LANG', 'fr');
?>